body {
    /* background: rgb(113,9,121);
    background: linear-gradient(90deg, rgba(113,9,121,1) 35%, rgba(0,234,255,1) 100%); */
    color: white;
    background: url(./brooklyn-MO5qO9xpZhA-unsplash.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover; 
}
fieldset {
    border: 0;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
}

@font-face {
    font-family: ThereBrat;
    src: url(therebrat.ttf);
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-title {
    font-family: ThereBrat;
    color: white;
    margin-bottom: -30px;
    font-size: 3em;
}

.user-form-format {
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    border: 2px solid white;
    padding: 10px;
    align-items: center;
}

.logo-img {
    width: 65%;
}

.session-display-format {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#userInputSubmit{
    padding: 5px;
    font-size: .8em;
}
.hide {
    display: none;
}

.holding {
    color: white;
    background-color: green;
}

.passing {
    color: white;
    background-color: red;
}

#countdown {
    padding: 10%;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 10px;
    font-size: 3em;
    font-family: arial;
    margin-top: 0;
}

#buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    /* width: 141%; */
    height: 250px;
    width: 250px;
}

.button-row-format{
    display: flex;
    flex-direction: row;
    /* width: 230px; */
    width: 100%;
    height: 50%;
}

.control-btns{
    width: 50%;
    margin: 2px;
    border-radius: 10px;
    box-shadow: none;
    text-shadow: none;
    border: none;
    font-size: 2em;
}
.control-btns:hover{
    color: white;
    background-color: #7f7f7f;
}