@media only screen and (max-width: 400px) {
    .logo-img {
        width: 200px;
    }
    #countdown {
        padding: 10%;
        padding-left: 20%;
        padding-right: 20%;
    }
}
body {
    color: white;
    background: url(/src/nextUp-bg.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
fieldset {
    border: 0;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
}
legend {
    font-weight: bold;
}

@font-face {
    font-family: ThereBrat;
    src: url(therebrat.ttf);
}
.main-container {
    position: relative;
    text-align: center;
}
.main-title {
    font-family: ThereBrat;
    color: white;
    margin-bottom: -30px;
    font-size: 3em;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-form-format {
    display: flex;
    flex-direction: column;
    font-size: 1.4em;
    border: 2px solid white;
    padding: 10px;
    align-items: center;
    width: fit-content;
}

.logo-img {
    max-width: 300px;
}

.session-display-format {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#userInputSubmit{
    padding: 5px;
    font-size: .8em;
}
.hide {
    display: none;
}

.holding {
    color: white;
    background-color: green;
}

.passing {
    color: white;
    background-color: red;
}

#countdown {
    padding: 20%;
    padding-left: 20%;
    padding-right: 20%;
    border-radius: 10px;
    font-size: 3em;
    font-family: arial;
    margin-top: 0;
    width: -webkit-fill-available;
    text-align: center;
    margin-bottom: 5%;
}

#buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    /* width: 141%; */
    height: 250px;
    width: 250px;
}

.button-row-format{
    display: flex;
    flex-direction: row;
    /* width: 230px; */
    width: 100%;
    height: 50%;
}

.control-btns{
    width: 50%;
    margin: 2px;
    border-radius: 10px;
    box-shadow: none;
    text-shadow: none;
    border: none;
    font-size: 1.5em;
}
.control-btns:hover{
    color: white;
    background-color: #7f7f7f;
}

